iRacing Deltabar Service/obj
iRacing Deltabar Service/bin
iRacing Deltabar Service/.vs
iRacing Deltabar Service/packages
ServiceRunnerLib/obj
ServiceRunnerLib/bin
ServiceRunnerLib/.vs
iRacing Deltabar Service/ServiceRunnerApp/obj
iRacing Deltabar Service/ServiceRunnerApp/bin
iRacing Deltabar Service/ServiceRunnerApp/.vs
